<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resp.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/linkmark-logo.ico') }}" type="image/x-icon">
    <title>LinkMark</title>
</head>
<body>
    <div class="container resp-add-container">
        <form action="" method="post">
            <div class="form-div">
                <input type="text" name="title-input" id="title-input" class="add-input" placeholder="Title" autocomplete="off" required>
                <input type="text" name="link-input" id="link-input" class="add-input" placeholder="Link to be added" autocomplete="off" required>
                <textarea name="note-input" id="note-input" class="add-input" placeholder="Note" autocomplete="off" required></textarea>
                <div class="btn-area">
                    <button type="submit" id="add-btn">Add</button>
                    <a href="{{ url_for('home.home') }}" class="btn resp-btn">Back</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>